<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Home</title>
</head>
<body>
    <h1>Welcome to Group: <%=group.groupName %> </h1>
    <p>You are in subject: <%=group.groupSubject %> </p>
    <p>Users</p>


    <% groupUsers.forEach(function(user)  { %>
    
        <% var userFirstName = user.firstName %> 
        <% var userLastName = user.lastName %> 
        <li><%=userFirstName + " | " + userLastName%></li>
     <% }); %>
</body>
</html>