<%- include("headerUser") -%>
<body>
    <div class="box" id="heading">
    <h1>Congrats, your group is created. Group Id is: <%= groupName %> Share this code with friends.</h1>
    </div>
    <div class="box">
        <a href="/home">Go back to Home</a>
    </div>
</body>
</html>