<%- include("headerUser") -%>
<body>
    <div class="box" id="heading">
        <h1>Homepage</h1>
    </div>
    <div class="box">
   <a href="/createGroup"> <button>Create new Group</button></a>
   <a href="/joinGroup"><button>Join new Group</button></a> 

    </div>

    <div class="box">
   <h2>Group List</h2>

   <% groupList.forEach(function(item)  { %>
    
   <% var newGroupName = item.groupName %> 
   <% var newGroupId = item._id %> 
   <% var newGroupSubject = item.groupSubject %>
   <li><a href= <%= "/groupHome/" + newGroupId %>%>> <div class="groupButton"> <%=newGroupName + " ~ " + newGroupSubject%> </a> </div></li>
<% }); %>
</div>

</body>
</html>