<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <h1>Welcome <%= firstName.firstName %> <%= lastName.lastName %></h1>
   <a href="/createGroup">Create new Group</a>
   <a href="/joinGroup">Join new Group</a> 
   <p>Group List</p>

   <% groupList.forEach(function(item)  { %>
    
   <% var newGroupName = item.groupName %> 
   <% var newGroupId = item._id %> 
   <li><a href= <%= "/groupHome/" + newGroupId %> %>><%=newGroupName + " | " + newGroupId%></a></li>
<% }); %>
</body>
</html>