<%- include("headerUser") -%>
<body>
    <div class="box" id="heading">
        <h1>Join a group</h1>
    </div>
    <div class="joinGroupForm box">
        <form action="/joinGroup" method="post">
            <div class="groupId"><label for="groupId">Group ID: </label><input type="text" name="groupId" placeholder="Group ID:" required="true"></div>
            <div class="submitBtn"><button type="submit" name="list">Submit</button></div>       
        </form>
        <p>Go <a href="/home">Back</a> </p>
    </div>
</body>
</html>