<%- include("headerUser") -%>

<body>
    <div class="box" id="heading">
    <h1>Congrats, you have joined group: <%= groupName.groupName %>. Group Id is: <%= groupName._id %> Share this code with friends.</h1>
    </div>
    <div class="box">
        <a href="/home">Go back to Home</a>
    </div>
</body>