<%- include("header") -%>
    <body>
        <div class="box" id="heading">
            <h1>Login</h1>
        </div>

        <div class="box">
        <label><%= errorMsg %> </label>
        <div class="loginForm">
            <form action="/" method="post">
                <div class="emailLogin"><label for="email">Email: </label><input type="text" name="email" placeholder="Email:"></div>
                <div class="passwordLogin"><label for="password">Password: <input type="password" name="password" placeholder="Password:"></label></div>
                <div class="submitBtn"><button type="submit" name="list">Submit</button></div>
            </form>
            <div class="registerBtn">
                <p>Don't have an account? <a href="/register">Register</a> now!</p>
            </div>
            
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>