<%- include("headerUser") -%>

<div class="box" id="heading">
    <h1>Peer Review</h1>
</div>

<div class="box">
            <label for="membership">Choose Group Member to review:</label>
            <div class="dropdown">
                <button>Select Person</button>
                <div class="dropdown-content">
                    <% groupUsers.forEach(function(user)  { %>
                        <% var userFirstName = user.firstName %> 
                        <% var userLastName = user.lastName %> 
                        <% var userId = user._id %> 
                        <a href= <%="/peerReview/" + customGroupId + "/" + userId %>><%=userFirstName + " " + userLastName %></a>
                    <% }); %>
                </div>
              </div>

</div>

<div class="box">

    <form action="/"></form>
    <label for="">Form</label>

    <p>Evaluation 1</p>
        <select class="dropbtn" data-style="btn-ifwnfo" name="evaluation1">
            <optgroup label="Rate 1-5">
                <option name="table1" value="1">1</option>
                <option name="table2" value="2">2</option>
                <option name="table3" value="3">3</option>
                <option name="table3" value="4">4</option>
                <option name="table3" value="5">5</option>
            </optgroup>
        </select>
      <p>Evaluation 2</p>
      <select class="dropbtn" data-style="btn-ifwnfo" name="evaluation2">
        <optgroup label="Rate 1-5">
            <option name="table1" value="1">1</option>
            <option name="table2" value="2">2</option>
            <option name="table3" value="3">3</option>
            <option name="table3" value="4">4</option>
            <option name="table3" value="5">5</option>
        </optgroup>
    </select>
      <p>Evaluation 3</p>
      <select class="dropbtn" data-style="btn-ifwnfo" name="evaluation3">
        <optgroup label="Rate 1-5">
            <option name="table1" value="1">1</option>
            <option name="table2" value="2">2</option>
            <option name="table3" value="3">3</option>
            <option name="table3" value="4">4</option>
            <option name="table3" value="5">5</option>
        </optgroup>
    </select>  
      <p>Evaluation 4</p>
      <select class="dropbtn" data-style="btn-ifwnfo" name="evaluation4">
        <optgroup label="Rate 1-5">
            <option name="table1" value="1">1</option>
            <option name="table2" value="2">2</option>
            <option name="table3" value="3">3</option>
            <option name="table3" value="4">4</option>
            <option name="table3" value="5">5</option>
        </optgroup>
    </select>

      <p><label for="w3review">Comments</label></p>

     <textarea id="w3review" name="groupGoals" rows="6" cols="50" placeholder="Add Comments"></textarea>

        <div class="submitBtn"><button type="submit" name="list">Save</button></div>      
    </form>

</div>