<%- include("header") -%>

<div class="box" id="heading">
    <h1>You have successfully registered on Groupify. Welcome! Click <a href="/">Proceed</a> 
        to go back to the login page and sign in with your new account details.</h1>
</div>